<body class="welcome-body">

  <div class="welcome-page-header">
    <div class="welcome-page-header-content">
      <h1 class="welcome-text">WELCOME TO HORROR SCOPES</h1>
        <div class="welcome-page-header-content-subtitle">
          <p>TODAYS TRAGEDY AS PREDICTED BY THE PLANETS</p>
        </div>
    </div>
  </div>
  <div class="floaty-cathulu-container">
    <div class="cathulu">
      <%= image_tag("icons/whiter_cathulu.png", width: 400) %>
    </div>
  </div>
</body>
