<body>

  <div class="welcome_page_header">
    <div class="welcome_page_header_content">
      <h1 class="welcome_page_header_content_title">WELCOME TO HORROR SCOPES</h1>
        <div class="welcome_page_header_content_subtitle">
          <p>TODAYS TRAGEDY AS PREDICTED BY THE PLANETS</p>
        </div>
    </div>
  </div>
</body>
