<h1>Daily Darkness</h1>
<p>
  you can't feel the danger<br>
  you can't see
</p>

<div class="placeholder_for_subsection">
  the Four Harbingers of Darkness detected near earth today murmur of your demise...
  <div id="daily_horrorscope">
    placeholder for daily horrorscope
  </div>
  <div id="daily_neos"
    <p>placeholder for four closest or largest neos (however we decide to pick four)
  </div>
</div>
