<body class="welcome-body">
  <h1 class="daily-header">DAILY DARKNESS</h1>
  <p class="daily-subtitle">
    YOU CAN'T FEEL THE DANGER<br>
    YOU CAN'T SEE
  </p>

  <div>
    <p class="daily-subheader">PLACEHOLDER FOR DAILY HORRORSCOPE
  </div>
  <div>
    <p class="daily-subheader">THE FOUR HARBINGERS OF DARKNESS DETECTED NEAR EARTH TODAY MURMUR OF YOUR DEMISE...
    <div class="neos">
      <% @events.each do |event| %>
        <ul class="daily-subtitle neo">
          <li class="name">NAME: <%= event.harbinger.name.upcase %></li>
          <li class="velocity">RELATIVE VELOCITY (MPH): <%= event.relative_velocity_mph %></li>
          <li class="distance">LUNAR DISTANCE: <%= event.lunar_distance %></li>
        </ul>
      <% end %>
    </div>
  </div>
</body>
