<body class="welcome-body">
  <h1 class="daily-header">DAILY DARKNESS</h1>
  <p class="daily-subtitle">
    YOU CAN'T FEEL THE DANGER<br>
    YOU CAN'T SEE
  </p>

  <div>
    <p class="daily-subheader">THE FOUR HARBINGERS OF DARKNESS DETECTED NEAR EARTH TODAY MURMUR OF YOUR DEMISE...
    <div>
      <p class="daily-subtitle">PLACEHOLDER FOR DAILY HORRORSCOPE
    </div>
    <div>
      <p class="daily-subtitle">PLACEHOLDER FOR FOUR NEOS INFORMATION
    </div>
  </div>
</body>
