<body class="welcome-body">
  <h1 class="daily-header">DAILY DARKNESS</h1>
  <p class="daily-subtitle">
    THE FOUR HARBINGERS OF DARKNESS NEAREST EARTH TODAY MURMUR OF YOUR DEMISE...
  </p>

  <div class="daily-horrorscope-info">
    <p class="daily-subheader">PLACEHOLDER FOR DAILY HORRORSCOPE
  </div>
  <div>
    <div class="neos">
      <% @events.each do |event| %>
        <ul class="daily-subtitle-neo">
          <div class="neo_image">
            <%= image_tag("icons/glowy_dark_neo.png", width: 160) %>
          </div>
          <div class="daily-harbinger-info">
            <li class="name">NAME: <%= event.harbinger.name.upcase %></li><br>
            <li class="velocity">RELATIVE VELOCITY (MPH): <%= event.relative_velocity_mph %></li><br>
            <li class="distance">LUNAR DISTANCE: <%= event.lunar_distance %></li>
          </div>
        </ul>
      <% end %>
    </div>
  </div>
</body>
