<body>

  <!-- <canvas id="canvas1"></canvas> -->
  <div class="profile_page_header">
    <canvas id="canvas1"></canvas>
    <div class="profile_page_header_content">
      <h2 text-align='center;' class="profile_page_header_content_title"  >CHOOSE YOUR FATE</h2>
        <div class="button-left">
          <%= link_to "TODAY", "/daily" %>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="button-right">
          <% if !@user.birthday %>
            <%= link_to "BIRTHDAY", "/users/#{@user.id}/edit"%>
          <% else %>
            <%= link_to "PROFILE", "/personal" if @user.birthday %>
          <% end  %>
        </div>

    </div>
  </div>
  
</body>
