<body class="welcome-body">
    <div class='navbar'>

    </div>
    <canvas id="canvas1"></canvas>
    <div class="profile_page_header_content">
      <% if @user %>
      <h2 text-align='center;' class="profile_page_header_content_title" >CHOOSE YOUR FATE</h2><br><br>
        <div class="profile-button-left">
          <a class="nav-button1" href="/daily">TODAYS READING</a>
        </div>

        <div class="profile-button-right">
          <% if !@user.birthday %>
          <a class="nav-button1" href="/personal">PERSONAL</a>
          <% else %>
            <%= link_to "BIRTHDAY", "/users/#{@user.id}/edit", method: "get", :class => "nav-button1"  %>
          <% end %>
        </div>
        <% else %>
        <p>LOG IN TO SEE YOUR FATE</p>
    </div>

    <% end %>
</body>
