<body class="welcome-body">
    <div class='navbar'>
      
    </div>
    <canvas id="canvas1"></canvas>
    <div class="profile_page_header_content">
      <h2 text-align='center;' class="profile_page_header_content_title" >CHOOSE YOUR FATE</h2><br><br>
        <div class="profile-button-left">
          <a><%= link_to "TODAYS READING", "/daily" %></a>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="profile-button-right">
          <% if !@user.birthday %>
            <a><%= link_to "BIRTHDAY", "/users/#{@user.id}/edit"%></a>
          <% else %>
            <a><%= link_to "PERSONAL PROFILE", "/personal" if @user.birthday %></a>
          <% end %>
        </div>
    </div>
    <div class="cathulu-stationary">
      <%=image_tag("icons/whiter_cathulu.png", width: 200) %>
    </div>


</body>
