


<!-- <body style="color:lightgrey;" > -->
  <canvas id="canvas1"></canvas>
  <div class="profile_page_header">
    <div class="profile_page_header_content">
      <h1 text-align='center;' class="profile_page_header_content_title"  >CHOOSE YOUR FATE</h1>
        <button id="today-button" type="button" name="Today"> Today </button>
        <button id="birthday-button" type="button" name="Birthday"> Birthday </button>
    </div>
  </div>
<!--/body> -->
